<h1>Movie Show Page</h1>
<hr>

<h2><%= @movie.title %></h2>
<p>Year of release: <%= @movie.creation_year %></p>
<p>Year of release: <%= @movie.genre %></p>

<section id="actors">
<h3>Actors in this film:</h3>
<p>
  <%= @actors.each do |actor| %>
    <p id="name"><%= actor.name %></p>
  <% end %>
</p>
</section>
<h4>Average actor age: <%= @movie.avg_actor_age %></h4>

<h3>Add actor to movie</h3>
<%= form_with url: "/movies/#{@movie.id}", method: :get, local: true do |f| %>
  <%= f.label :name, 'Search by name:' %>
  <%= f.text_field :name %>
  <%= f.submit "Search" %>
<% end %>

<% @actors.each do |actor| %>
  <p>Name: <%= actor.name %></p>
  <%= form_with url: "/movies/#{@movie.id}", method: :patch, local: true do |f| %>
    <%= f.hidden_field :actor_id, :value => "#{actor.id}" %>
    <%= f.submit "Add this Actor" %>
  <% end %>
<% end %><br>