<h1>Studios</h1>
<hr>

<%= @studios.each do |studio| %>
  <%= studio.name %><br>
  <%= studio.location %><br>
  <p>
    Movies by this studio:<br>
    <%= studio.movies.each do |movie| %>
      <%= movie.title %><br>
    <% end %>
    </p>
<% end %>